@model IEnumerable<Innovative_Hospital_BLL.ViewModels.AdminViewModels.DepartmentInfoVM>

@{
    ViewData["Title"] = "GetAllDepartments";
}

<h1>Департаменты</h1>

@*<p>
    <a asp-controller="Admin" asp-action="CreateDepartment">Создать</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsClosed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsClosed)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Закрыть", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
